#border1, #border2, #border3 {
  border-right-color: darkgrey;
  border-right: solid 1px darkgrey;
  margin-right: 1px;
}

#colorPanel, #fillPanel {
background-color: lightgray;
border: 1px solid lightgray;
margin-left: 15px;
}

.dark {
  color: #595a66
}

.light {
  color: #949aa1
}

.red {
  color: #ff426e
}

.green {
  color: #50ebc5
}

.blue {
  color: #4b95fe
}

.darkblue {
  color: #785fff
}

.svgIcons {
  width: 25px;
  height: 25px;
}

.makeStyles-drawerPaperDocs-20::-webkit-scrollbar {
  width: 20px;
}
.makeStyles-drawerPaperDocs-20::-webkit-scrollbar-track {
  background-color: transparent;
}
.makeStyles-drawerPaperDocs-20::-webkit-scrollbar-thumb {
  background-color: #94999b;
  border-radius: 20px;
  border: 6px solid transparent;
  background-clip: content-box;
}
.makeStyles-drawerPaperDocs-20::-webkit-scrollbar-thumb:hover {
  background-color:#d0d2d4;
}

a {
  text-decoration: none;
}

.docsAddIcon path {
  fill: rgba(0, 0, 0, 0.54);
}
.docsAddIconButton {
  background: none;
  border: none;
  outline: none;
  cursor: pointer;
}
.docsAddIconButton:hover path {
  fill: rgba(0, 0, 0, 0.425);
}

.docListLinkDelete {
  display: none!important;
}
.docListLink:hover .docListLinkDelete {
 display: inline-block!important;
}
.docListLink:hover .docListLinkDelete path {
 fill:rgba(0, 0, 0, 0.54);
}
