.providerflow {
  height: 100vh;
  width: 100%;
}

.reactflow-wrapper {
  height: 100%;
  width: 100%;
}

.navbar {
  position: fixed;
  z-index: 100;
  background-color: white;
  width: 100%;
  border-bottom: 1px solid black;
}

.info {
  position: fixed;
  z-index: 1000;
  right: 2em;
  text-align: end;
  bottom: 1em;
}

.flowInfoFooter {
  position: fixed;
  bottom: 0px;
}

.save__controls {
  position: fixed;
  bottom: 50px;
  margin-left: 100px;
  z-index: 100;
}