.updatenode__controls {
    position: absolute;
    left: 23px;
    top: 330px;
    z-index: 4;
    font-size: 12px;
  }
  
  .updatenode__controls label {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    display: block;
  }
  
  .updatenode__bglabel {
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 10px;
  }
  
  .updatenode__checkboxwrapper {
    margin-top: 10px;
    display: flex;
    align-items: center;
  }
  